body {
  background-color: #1b2733;
  color: darkgray;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-align: center;
}

.container {
  padding: 1.6rem;
  max-width: 650px;
  margin: 0 auto;
}

/* header anchor tag */
.headerA {
  text-decoration: none;
}

a {
  color: darkgray;
}

.seperator {
  width: auto;
  border-top: 1px solid rgba(236, 233, 230, 0.15);
  top: 0;
  margin: 1rem;
  position: relative;
}

.searchBox {
  margin-bottom: 2em;
  padding: 0.65em 1em;
  background: rgb(27, 39, 51);
  border: 1px solid rgba(236, 233, 230, 0.15);
  border-radius: 1.5em;
  color: darkgray;
}

.card {
  background-color: #1b2733;
  color: #ffffff;
  padding: 1.5em;
  border: 1px solid rgba(236, 233, 230, 0.15);
  border-radius: 0.2em;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.25em;
}

.card:hover {
  transform: translateX(-2.5px);
}

.card h2 {
  margin-top: 0;
  font-size: 20px;
}

.card p {
  margin-bottom: 1.5em;
}

.card a {
  color: darkgray;
  padding: 0.65em 0.8em;
  border: 1px solid darkgray;
}

/* general btns */
.btn {
  font-size: 0.75rem;
  padding: 0.65em 0.8em;
  color: darkgray;
  border: 1px solid #ffffff;
  border-radius: 3rem;
  text-decoration: none;
  color: #ffffff;
}

/* see more posts btn */
.seeMorePosts {
  margin-top: 2em;
}

/* links in footer */
.links {
  margin: 20px;
}

.links a {
  display: inline-block;
  margin: 10px;
  color: slategray;
  text-decoration: none;
}
